canvas {
  border: 1px solid #000;
  background-image: url(BG.jpg);
  background-size: cover;
}

.snake-head {
  fill: #00ff00;
}

.snake-segment {
  fill: #008000;
}

.food {
  fill: #ff0000;
}

#score {
  color: #fff;
  font-family: "Arial", sans-serif;
  font-size: 24px;
  text-shadow: 2px 2px 4px #000;
}
